.form-default {
    width: 90%;
    height: 32%;
    position: absolute;
    top: 200px;
    background-color: var(--color-primary-3);
    border-radius: 10px;
    animation: slideIn1 1s;
}

.form-default-2 {
    width: 90%;
    height: 25%;
    position: absolute;
    top: 300px;
    background-color: var(--color-primary-3);
    border-radius: 10px;
    animation: slideIn2 1s;
}

.form-default-3 {
    width: 90%;
    height: 20%;
    position: absolute;
    bottom: 400px;
    background-color: var(--color-primary-3);
    border-radius: 10px;
    animation: slideIn3 1s;
}

.form-default-4 {
    width: 90%;
    height: 25%;
    position: absolute;
    bottom: 400px;
    background-color: var(--color-primary-3);
    border-radius: 10px;
    animation: slideIn3 1s;
}

.form-default-5 {
    width: 90%;
    height: 55%;
    position: absolute;
    top: 200px;
    background-color: var(--color-primary-3);
    border-radius: 10px;
    animation: slideIn1 1s;
}

.input-default {
    height: 45px;
    width: 85%;
    padding-left: 10px;
    border: 2px solid var(--color-grey-3);
    border-radius: 5px;
}

.input-default::-webkit-input-placeholder{
    color: var(--color-grey-2);
    font-size: var(--text-3);
    font-weight: var(--font-weight-3);
}

.input-default:focus {
    outline: 0;
    border: 2px solid var(--color-primary-2);
}

.select-default {
    height: 45px;
    width: 90%;
    padding-left: 10px;
    border: 2px solid var(--color-grey-3);
    border-radius: 5px;
    color: var(--color-grey-2);
    font-size: var(--text-3);
    font-weight: var(--font-weight-3);
}

.select-default:focus {
    outline: 0;
    border: 2px solid var(--color-primary-2);
}

@keyframes slideIn1 {
    0%{
        opacity: 0;
        top: 0;
    }
    100%{
        opacity: 1;
        top: 200px;
    }
}

@keyframes slideIn2 {
    0%{
        opacity: 0;
        top: 0;
    }
    100%{
        opacity: 1;
        top: 300px;
    }
}

@keyframes slideIn3 {
    0%{
        opacity: 0;
        bottom: 0;
    }
    100%{
        opacity: 1;
        bottom: 400px;
    }
}

@media (min-width: 820px){
    
    .form-default {
        width: 28%;
        height: 35%;
    }

    .form-default-2 {
        width: 28%;
        height: 30%;
    }
    
    .form-default-3 {
        width: 25%;
        height: 25%;
        bottom: 300px;
    }

    .form-default-4{
        width: 30%;
        height: 34%;
        bottom: 300px;
        animation: slideIn3 1s;
    }

    .form-default-5 {
        width: 30%;
        height: 50%;
    }

    @keyframes slideIn3 {
        0%{
            opacity: 0;
            bottom: 0;
        }
        100%{
            opacity: 1;
            bottom: 300px;
        }
    }
}